*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


#main{
    width: 80%;
    height: 600px;
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
    margin-top: 50px;
    
}