*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.h{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: underline;
}
#main{
    width: 70%;

    height: 400px;
    /* background-color: black; */
    border: 1px solid black;
    margin: auto;
}



table{
    text-align: center;
    width: 60%;
    margin: auto;
    margin-top: 20px;

}
button{
    cursor: pointer;
}


#form{
    padding: 20px;
    /* text-align: center; */
}

#title,#des,#time{
    width: 40%;
    height: 24px;
    padding-left: 2%;
    border-radius: 5px;
}
#title{
    margin-left: 5%;
}
#des{
    margin-left: 1%;
}
#time{
    margin-left: 4%;
}
#sub{
    width: 41%;
    border: none;
    border-radius: 5px;
    margin-left: 9%;
    height: 26px;
    background-color: rgb(30, 169, 224);
}