*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-image: url(https://png.pngtree.com/background/20211217/original/pngtree-geometric-pattern-white-gold-minimalist-creative-background-picture-image_1575961.jpg);
    font-family: "Open Sans", sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 97vh;
}
.h{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    text-decoration: underline;
}
#main{
    box-shadow: 0px 0px 10px 0px;
    /* margin-top: 60px; */
    width: 60%;
    /* margin-top: 10%; */
    /* padding-top: 30px; */
border-radius: 20px;
    height: auto;
    text-align: center;

    /* background-color: black; */
    /* border: 1px solid black; */
    margin: auto;
}
#dd{

    background-color: red;
}
button:hover{
    transform: scale(0.9);

}
#sub:hover{
    transform: scale(0.9);
    cursor: pointer;
}


table{
    box-shadow: 0px 0px 10px 0px;
    /* border-radius: 10px; */
    /* border: 1px solid black; */
    text-align: center;
    width: 60%;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;

    th{
        text-decoration: underline;
    }
   th,td{
    height: 40px;
   }
}
button{
    cursor: pointer;
    width: 80px;
    height: 30px;
    border-radius: 10px;
    background-color: rgba(39, 174, 228, 0.836);
}


#form{
    padding: 20px;
    /* text-align: center; */
}

#title,#des,#time,#id{
    width: 40%;
    height: 24px;
    padding-left: 2%;
    border-radius: 5px;
}
#title{
    margin-left: 5%;
}
#des{
    margin-left: 1%;
}
#time{
    margin-left: 4%;
}
#sub{
    width: 41%;
    border: none;
    border-radius: 5px;
    margin-left: 9%;
    height: 26px;
    background-color: rgb(30, 169, 224);
}
#id{
    width: 40%;
}